QPushButton#loginButton {
    padding: 12px 20px;
    height: 40px;

    border: 2px solid #2D3648;
    border-radius: 6px;
}

QPushButton#loginButton:hover {
    color: #FFFFFF;
    background: #2D3648;
}

QPushButton#registrationButton {
    color: #FFFFFF;
    padding: 12px 20px;
    height: 44px;
    width: 163px;

    background: #2D3648;
    border-radius: 6px;
}

QPushButton#registrationButton:hover {
    color: #2D3648;

    border: 2px solid #2D3648;
    background-color: transparent;
}

QPushButton#registerButton {
    padding: 12px 20px;

    width: 228px;
    height: 44px;
    color: #FFFFFF;

    background: #2D3648;
    border-radius: 6px;
}

QPushButton#goBackButton {
    padding: 12px 20px;

    width: 110px;
    height: 40px;

    border: 2px solid #2D3648;
    border-radius: 6px;
}

QPushButton#registerButton:hover {
    color: #2D3648;

    border: 2px solid #2D3648;
    background-color: transparent;
}

QPushButton#goBackButton:hover {
    color: #FFFFFF;
    background: #2D3648;
}
